.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background: aliceblue;
}

.compo {
  justify-content: center;
  align-items: center;
  background: aliceblue;
}

.card {
  background-color: white;
  margin: 20px;
  padding: 3px;
  width: 50%;
  display: grid;
  margin-top: 50px;
}
